@import "tailwindcss";

:root {
  --background: #f3f3f3;
  --foreground: #000000;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  font-size: 16px;
  line-height: 1.55;
  letter-spacing: -0.01em;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

a {
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

 .prose {
   color: rgb(51 65 85);
 }

 .prose > :first-child {
   margin-top: 0;
 }

 .prose > :last-child {
   margin-bottom: 0;
 }

 .prose p {
   margin-top: 0.9em;
   margin-bottom: 0.9em;
 }

 .prose strong {
   font-weight: 700;
   color: rgb(15 23 42);
 }

 .prose a {
   color: rgb(15 23 42);
   text-decoration: underline;
 }

 .prose ul {
   margin-top: 0.9em;
   margin-bottom: 0.9em;
   padding-left: 1.25em;
 }

 .prose li {
   margin-top: 0.35em;
   margin-bottom: 0.35em;
 }

::selection {
  background: rgba(255, 10, 91, 0.25);
}
